# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
apps/gateway-api/dist

/generated/prisma
apps/gateway-api/src/generated
tmp.txt
apps/gateway-portal/drizzle/migrations/meta/0001_snapshot.json
apps/gateway-portal/scripts/seed/snapshot.json
